smolagents
smolagents[litellm]
anthropic
streamlit
requests
beautifulsoup4
PyYAML
langchain
scipy
gradio
gradio[oauth]
langchain_community
pytesseract
Pillow
duckduckgo-search
helium 
selenium 
python-dotenv
